body {
    background-color: #ddd;
    font-family: Tahoma;
}
header {
    font-size: 13px;
    text-align: right;
}
div#corpo {
    width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 30px #777;
}
form#busca {
    font-size: 13px;
    text-align: right;
}
table.listagem {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table.listagem tr {
    height: 50px;
}
table.listagem td {
    padding: 10px;
}
table.listagem tr:nth-child(even) {
    background-color: #f2f2f2;
}
table.listagem td:nth-child(1) {
    width: 50px;
}
table.listagem td:nth-child(3) {
    width: 90px;
}
table.detalhes {
    width: 100%;
}
table.detalhes td {
    padding: 10px;
    vertical-align: top;
   /* border: 1px solid black; */
}
td.descricao {
    text-align: justify;    
}
img.mini {
    width: 50px;
}
img.full {
    width: 300px;
}
/*
img.icoback {
    width: 50px;
}
*/
footer {
    text-align: center;
    font-family: Arial;
    font-size: 13px;
}
div.sucesso{
    padding: 7px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgb(226, 239, 218);
    color: rgb(74, 116, 67);
}
div.aviso{
    padding: 7px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgb(251, 248, 229);
    color: rgb(134, 110, 66);
}
div.erro{
    padding: 7px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgb(239, 223, 222);
    color: rgb(157, 75, 69);
}